# --- Carpetas de Compilación (CMake) ---
out/
build/
CMakeFiles/
CMakeCache.txt
CMakeConfigureLog.yaml
cmake_install.cmake
CMakeUserPresets.json
install/

# --- vcpkg (Dependencias locales) ---
vcpkg_installed/
vcpkg/
vcpkg.applocal.log

# --- Visual Studio ---
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.opendb
*.db
Debug/
Release/
x64/
x86/

# --- Binarios y Shaders generados ---
*.exe
*.pdb
*.ilk
*.spv
Project6/compiled_shaders/

# --- VS Code ---
.vscode/

# --- Otros ---
.DS_Store
Thumbs.db
